.home {
  padding: 15px;
  :global {
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0 15px 15px 15px;
    }
  }
}
.room {
  margin-top: 15px;
  border: 1px solid #f0f0f0 !important;
  :global{
    // border-bottom: 1px solid #f0f0f0;
    .ant-card-head {
      min-height: unset;
      padding: 0 6px;
      border-bottom: 1px solid #f0f0f0;
  }
  }
}
